.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 50px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "about-title logo-container"
        "about-text logo-container";
    margin: 3vh 15%;
}

.about-logo-container {
    justify-self: center;
    align-self: center;
    grid-area: logo-container;
}

.about-title {
    font-size: 4em;
    font-weight: bold;
    justify-self: center;
    align-self: end;
    grid-area: about-title;
}

.about-text {
    justify-self: center;
    align-self: start;
    grid-area: about-text;
}

.about-logo-img {
    max-width: 100%;
    max-height: 100%;
}

/* screen sice specifications */
/* @media (min-width: 1400px) {
    .about-container {
        max-width: 1320px;
    }
} */
