.user-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container */
.user-review-cards-container {
    width: 100%;
}

/* title */
.user-reviews-title {
    font-size: 2em;
    font-weight: bold;
}

.user-review-card-link {
    text-decoration: none;
    color: black;
}
.user-review-card-link .review-card-container {
    row-gap: 10px;
    grid-template-areas:
        "review-user-img-container review-title"
        "review-text review-text";
}
.user-review-card-link .review-card-container .review-title {
    align-self: center;
}

.user-review-cards-container .user-review-card:nth-child(odd) {
    background-color: rgb(241, 210, 175);
}
.user-review-cards-container .user-review-card:nth-child(even) {
    background-color: rgb(206, 166, 120);
}
.user-review-card {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
}


/************************************************************************/
/* Media query for tablets */
@media only screen and (min-width: 769px) and (max-width: 989px) {
    .user-review-card-link .review-card-container {
        display: inline-block;
    }
}


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .user-review-card-link .review-card-container {
        display: inline-block;
    }
}
