.chocolcate-container {
    width: 80vw;
    margin: 4vh 10vw;
}
.chocolate-img-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 20px;
    grid-auto-flow: row;
    grid-template-areas: "choc-img-container choc-details-container";
    margin-bottom: 3vh;
}


/* img */
.chocolate-img-container {
    justify-self: end;
    align-self: center;
    grid-area: choc-img-container;
    border: solid 2px black;
    background-color: white;
}
.chocolate-img {
    max-height: 350px;
}

/* details */
.choc-details-container {
    justify-self: start;
    align-self: center;
    grid-area: choc-details-container;
    max-width: 70%;
}
.choc-title-box, .choc-rating-box {
    display: flex;
    justify-content: start;
    align-items: center;
}
.choc-title-name {
    font-size: 3em;
    font-weight: bold;
}
.chocolate-favourite-icon {
    margin-left: 30px;
    font-size: 3em;
}
.chocolate-favourite-icon button {
    background-color: transparent;
    border: none;
}
.choc-title-description {
    margin-top: 20px !important;
    font-size: 2em;
}


/* additional details */
.details-and-reviews-container {
    justify-self: start;
    align-self: start;
    grid-area: additional-choc-details-container;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    min-width: 100%;
    background-color: rgb(66, 66, 66);
    overflow: hidden;
}
.chocolate-details-tab {
    height: 45px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(66, 66, 66);
    border: none;
    border-right: 1px solid black;
}
.additional-details-reviews-container {
    background-color: white;
}


/************************************************************************/
/* Media query for tablets */
@media only screen and (min-width: 769px) and (max-width: 989px) {
    .choc-details-container {
        max-width: 100%;
    }
    .choc-details-container .star-icon {
        font-size: 2.2rem;
    }
    .chocolate-img {
        max-height: 250px;
    }
    .choc-title-name {
        line-height: 120%;
    }
}


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .choc-details-container {
        max-width: 100%;
    }
    .choc-details-container .star-icon {
        font-size: 2.2rem;
    }
    .chocolate-img {
        max-height: 250px;
    }
    .choc-title-name {
        line-height: 120%;
    }
}
